.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100% - 114px);
    background-color: #e8eff3;
  }

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc((100% - 5px) / 9);
  }

.cell {
    width: calc((100% - 5px) / 9 - 1px);
    height: calc(100% - 1px);
    margin: 0.5px;
    border: 0px solid black;
    color: black;
    transition: all 0.225s linear;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

.correct {
    background-color: green;
    color: #ffffff;
  }

.false {
    background-color: red;
    color: #ffffff;
  }

.selected {
    background-color: #3880ff;
    color: #ffffff;
  }

.fixed {
    cursor: auto;
    background-color: #d8e2f0;
  }

.square {
    background-color: black;
    box-shadow: 0px 0px 12px rgba(0,0,0,0.7);
    padding: 1px;
    padding-right: 0.5px;
    padding-left: 1.5px;
  }

  .iconSmall {
    fill: #202020;
    width: 28px;
    height: 28px;
  }

  .iconMid {
    fill: #202020;
    width: 32px;
    height: 32px;
  }

.selectContainer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 114px;
    background-color: #3880ff;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.48);
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
  }

.selectRow {
    width: 100%;
    max-width: 396px;
    display: flex;
    padding: 6px;
    justify-content: center;
    align-items: flex-end;
    position: relative;
  }

.selectButton {
    width: 40px;
    height: 40px;
    margin: 2px;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
  }