.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100% - 112px);
    background-color: #e8ecf3;
  }

.squareContent {
  background-color: #202020;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100% / 9);
  }

.row:first-child td{
    border-top:2px solid #202020 !important;
  }
  
.row:nth-child(3n) td {
    border-bottom:2px solid #202020 !important;
  }

.cell {
    width: calc(100%  / 9);
    height: 100%;
    border: 1px solid;
    border-color: #b8bbc2 !important;
    color: #202020;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .cell:first-child {
    border-left: 2px solid #202020 !important;
  }
  .cell:nth-child(3n) {
    border-right:2px solid #202020 !important;
  }

.correct {
    color: green !important;
    font-weight: bold;
  }

.false {
    color: rgb(228, 18, 18) !important;
    font-weight: bold;
  }

.selected {
    background-color: #c3d2ec;
  }

.fixed {
    cursor: auto;
  }

.square {
    box-shadow: 0px 0px 12px rgba(0,0,0,0.7);
    table-layout: fixed;
    background-color: #202020;
  }

  .iconSmall {
    fill: #202020;
    width: 28px;
    height: 28px;
  }

  .iconMid {
    fill: #202020;
    width: 32px;
    height: 32px;
  }

.selectContainer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 112px;
    padding: 12px;
    background-color: transparent;
    display: flex;
    background-color: #e8ecf3;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
  }

.selectRow {
    width: 100%;
    max-width: 396px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
  }

.specialButton {
    width: 132px;
    height: 44px;
    font-size: 28px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border: 1px solid #202020;
    border-left: none;
    border-bottom: none;
    cursor: pointer;
  }

  .specialButton:hover {
    background-color: #d8e2f0;
  }

.selectButton {
    width: 44px;
    height: 44px;
    font-size: 28px;
    display: flex;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border: 1px solid #202020;
    border-left: none;
    cursor: pointer;
  }

  .selectButton:hover {
    background-color: #d8e2f0;
  }

  .modalContent {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .modalClose {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 28px;
    height: 28px;
    fill: #202020;
    cursor: pointer;
  }

  .modalTitle {
    width: 100%;
    text-align: center;
    padding: 12px;
    font-size: 18px;
    margin-bottom: 12px;
  }

  .modalDifficulty {
    width: calc(100% - 64px);
    max-width: 240px;
    padding: 24px;
    background-color: #d8e2f0;
    border: 1px solid #6181b9;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
    cursor: pointer;
    color: #6181b9;
  }