.iconSmall {
    fill: #000000;
    width: 24px;
    height: 24px;
  }

  .iconMid {
    fill: #ffffff;
    width: 32px;
    height: 32px;
  }

.selectContainer {
    margin-left: 24px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .selectContainerMobile {
    margin-left: 0;
    margin-top: 12px;
    flex-direction: column-reverse;
  }

.selectNum {
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    flex-wrap: wrap;
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .selectNumMobile {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
  }

  .buttonRow {
    display: flex;
    width: 100%;
  }

  .buttonRowMobile {
    display: flex;
    width: 100%;
  }

.selectButton {
    width: 60px;
    height: 60px;
    font-size: 28px;
    display: flex;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border: 1px solid #a0a7af;
    border-left: none;
    cursor: pointer;
  }

  .selectButton:hover {
    background-color: #e8ecf3;
  }

.selectButtonMobile {
  width: 11.11111%;
  height: 100%;
}