.starContainer {
    display: flex;
    padding-bottom: 6px;
  }

  .modal {
    max-width: 480px;
  }

  .modalContent {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .modalClose {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 28px;
    height: 28px;
    fill: #202020;
    cursor: pointer;
  }

  .modalTitle {
    width: 100%;
    text-align: center;
    padding: 24px;
    font-size: 18px;
  }

  .modalDifficulty {
    width: calc(100% - 64px);
    max-width: 240px;
    padding: 24px;
    background-color: #d8e2f0;
    border: 1px solid #6181b9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
    cursor: pointer;
    color: #6181b9;
    border-radius: 8px;
    font-size: 18px;
  }

  .modalDifficulty:hover {
    background-color: #c4d1e4;
  }